div.column {
    width: 120%;
    height: 10%;
    border: 1px solid gray;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
}


.fixed{
	width:13%;
}

.flex-item{
 flex-grow:0.2;
 
 
	
}
h2{
    padding: 8px;
    color: white;
    background-color: black;
    clear: left;
    text-align: right;
	width: 200%;
	
}

 footer {
    
    color: white;
    background-color: black;
    clear: left;
    text-align: left;
	
}

.web{
	padding: 10px;
	text-align: center;
	width: 200%;
}
 
.txt{
	margin-left: 50px;
}

.press{
	margin-left: 5px;
}