

h1 {
  font-size:400%;
  color: white;
  text-align:justify;
  font-family: "Times New Roman", Times, serif;
  
}

p {
  font-size: 110%;
  color: white;
  text-align:justify;
  font-family: "Times New Roman", Times, serif;
}

 nav {
 height: 100px;
 }
 
 ul.navbar-nav li{
 text-align: center;
 }

 hr { 
    display: block;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: px;
}


